{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container my-3 d-flex justify-content-center">
  <div class="card shadow-lg p-4 w-100" style="max-width: 850px;">
    <h2 class="mb-4 fw-bold">Cadastro de Cliente:</h2>

        <!-- Bloco de mensagens Django -->
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
        </div>
      {% endfor %}
    {% endif %}

    <form method="POST" class="row g-3">
      {% csrf_token %}
      <div class="col-md-6">
        <label for="id_name" class="form-label">Nome do Cliente:</label>
        {{ form.name }}
      </div>

      <div class="col-md-6">
        <label for="id_type" class="form-label">Tipo de Cliente:</label>
        {{ form.type }}
      </div>

      <div class="col-md-6">
        <label for="id_cnpjoucpf" class="form-label">CPF/CNPJ:</label>
        {{ form.cnpjoucpf }}
      </div>

      <div class="col-md-6">
        <label for="id_email" class="form-label">Email:</label>
        {{ form.email }}
      </div>

      <div class="col-md-6">
        <label for="id_phone" class="form-label">Telefone:</label>
        {{ form.phone }}
      </div>

      <div class="col-md-6">
        <label for="id_address" class="form-label">Endereço:</label>
        {{ form.address }}
      </div>

      <div class="col-md-4">
        <label for="id_city" class="form-label">Cidade:</label>
        {{ form.city }}
      </div>

      <div class="col-md-4">
        <label for="id_state" class="form-label">Estado:</label>
        {{ form.state }}
      </div>

      <div class="col-md-4">
        <label for="id_zip_code" class="form-label">CEP:</label>
        {{ form.zip_code }}
      </div>
 
      <div class="col-12 d-flex justify-content-end">
        <button type="submit" class="btn btn-primary rounded-pill px-4">
           Salvar Cliente
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}


{% with attrs='class=form-control' %}
{% endwith %}
