{% extends 'base.html' %}
{% block content %}
<div class="container d-flex justify-content-center">
    <div class="card shadow-lg p-3 w-255" style="max-width: 850px;">

      <small class="text-muted  "><a href="{% url 'listadecontratos' %}" class="text-decoration-none">Contratos</a> / <a href="{% url 'visualizacaocontrato' contrato.id %}" class="text-decoration-none">Detalhes do contrato</a></small>

      <div class="row">
          <div class="col-7">
            <h1 class="fw-semibold mb-2">{{ contrato.title }}</h1>
          </div>
          <div class="col-5 d-flex flex-wrap flex-row align-content-center justify-content-end gap-2">
                <button type="submit" style="min-width: 100px;" class="btn btn-light rounded text-dark"
                     style="background-color: #e9ecef; color: #212529; cursor: pointer;">
                    <a class="text-dark fw-semibold" href="{% url 'gestaodecontratos' %}">
                        <i class="bi bi-pencil"></i>
                         Editar
                    </a>
                </button>
                <button type="submit" style="min-width: 100px;" class="btn btn-primary fw-semibold rounded-3">
                      <i class="bi bi-plus-lg me-1"></i>
                          Adicionar
                </button>
          </div>
    </div>

      <small class="text-muted">Cliente: {{ contrato.client }} | {{ contrato.status }} | Início: {{ contrato.date_begin|date:"d/m/Y" }} | Fim: {{ contrato.date_end|date:"d/m/Y" }} </small>

        <hr>

      <ul class="nav nav-tabs border-0 border-bottom mb-4 ">
        <li class="nav-item">
          <a class="nav-link active" href="#">Visão Geral</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Documentos</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#">História</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#">Comunicação</a>
        </li>
      </ul>

  <h5 class="fw-semibold mb-4">Termos de Contrato</h5>



  <div class="row g-3 mb-2 border rounded p-3">

    <div class="col-md-6">
      <small class="text-muted">Título</small>
      <p class="mb-0">{{ contrato.title }}</p>
    </div>
    <div class="col-md-6">
      <small class="text-muted">Tipo de Contrato</small>
      <p class="mb-0">{{ contrato.type_contract }}</p>
    </div>

    <div class="col-md-6">
      <small class="text-muted">Data de Efetivação</small>
      <p class="mb-0">{{ contrato.date_begin|date:"F d, Y" }}</p>
    </div>

    <div class="col-md-6">
      <small class="text-muted">Data de Rescisão</small>
      <p class="mb-0">{{ contrato.date_end|date:"F d, Y" }}</p>
    </div>

    <div class="col-md-6">
      <small class="text-muted">Valor do contrato</small>
      <p class="mb-0"> R$ {{ contrato.contract_value }}</p>
    </div>

    <div class="col-md-6">
      <small class="text-muted">Descrição</small>
      <p class="mb-0">{{ contrato.description }}</p>
    </div>
  </div>

         <div class="card border-0 shadow-sm mt-4">
  <div class="card-body">
    <h5 class="fw-bold mb-3">Documentos Relacionados</h5>

    <div class="d-flex justify-content-end mb-2">
      <form method="POST" enctype="multipart/form-data" action="{% url 'visualizacaocontrato' contrato.id %}">
          {% csrf_token %}
          <label for="id_document" class="btn btn-sm rounded px-3 py-1"
                 style="background-color: #e9ecef; color: #212529; cursor: pointer;">
              <i class="bi bi-plus-lg me-1"></i>
              Upload Arquivo
          </label>
          <input type="file" id="id_document" name="document" hidden onchange="this.form.submit()">
      </form>

    </div>

    <table class="table table-bordered align-middle text-sm">
      <thead class="table-light">
        <tr>
          <th class="text-muted">Nome do Documento</th>
          <th class="text-muted">Tipo</th>
          <th class="text-muted">Data</th>
          <th class="text-muted text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for contrato in contratos %}
        <tr>
          <td>
            <a href="{{ contrato.document.url }}" download>
              {{ contrato.document.name|slice:"14:" }}
            </a>
          </td>
          <td>{{ contrato.type_contract }}</td>
          <td>{{ contrato.date_begin|date:"F d, Y" }}</td>
          <td class="text-center">
            <a href="{{ contrato.document.url }}" class="text-primary me-3" target="_blank">Ver</a>
            <a href="{% url 'delete_document' contrato.id %}" class="text-danger">Excluir</a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="4" class="text-center text-muted">Nenhum documento enviado ainda.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


      </div>
</div>
{% endblock %}