{% extends 'base.html' %}
{% block content %}
<div class="container d-flex justify-content-center">
    <div class="card shadow-lg p-3 w-255" style="max-width: 850px;">

      <small class="text-muted  "><a href="{% url 'listadecontratos' %}" class="text-decoration-none">Contratos</a> / <a href="{% url 'visualizacaocontrato' contrato.id %}" class="text-decoration-none">Detalhes do contrato</a></small>

      <div class="row">
          <div class="col-7">
            <h1 class="fw-semibold mb-2">{{ contrato.title }}</h1>
          </div>
          <div class="col-5 d-flex flex-wrap flex-row align-content-center justify-content-end gap-2">
                <button type="submit" style="min-width: 100px;" class="btn btn-light rounded text-dark" style="color: #212529; cursor: pointer;">
                   <a href="{% url 'editar_contrato' contrato.contract_id %}" class="btn">
                        <i class="bi bi-pencil"></i>
                         Editar
                   </a>
                </button>
                <button type="submit" style="min-width: 100px;" class="btn btn-primary fw-semibold rounded-3">
                <a href="{% url 'gestaodecontratos' %}" class="text-decoration-none text-light">
                      <i class="bi bi-plus-lg me-1"></i>
                          Adicionar
                </a>
                </button>
          </div>
    </div>

      <small class="text-muted">Cliente: {{ contrato.client }} | {{ contrato.status }} | Início: {{ contrato.date_begin|date:"d/m/Y" }} | Fim: {{ contrato.date_end|date:"d/m/Y" }} </small>

        <hr>

      <ul class="nav nav-tabs border-0 border-bottom mb-4 ">
        <li class="nav-item">
          <a class="nav-link active" href="#">Visão Geral</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Documentos</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#">História</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#">Comunicação</a>
        </li>
      </ul>

  <h5 class="fw-semibold mb-4">Termos de Contrato</h5>



  <div class="row g-3 mb-2 border rounded p-3">

    <div class="col-md-6">
      <small class="text-muted">Título</small>
      <p class="mb-0">{{ contrato.title }}</p>
    </div>
    <div class="col-md-6">
      <small class="text-muted">Tipo de Contrato</small>
      <p class="mb-0">{{ contrato.type_contract }}</p>
    </div>

    <div class="col-md-6">
      <small class="text-muted">Data de Efetivação</small>
      <p class="mb-0">{{ contrato.date_begin|date:"F d, Y" }}</p>
    </div>

    <div class="col-md-6">
      <small class="text-muted">Data de Rescisão</small>
      <p class="mb-0">{{ contrato.date_end|date:"F d, Y" }}</p>
    </div>

    <div class="col-md-6">
      <small class="text-muted">Valor do contrato</small>
      <p class="mb-0"> R$ {{ contrato.contract_value }}</p>
    </div>

    <div class="col-md-6">
      <small class="text-muted">Descrição</small>
      <p class="mb-0">{{ contrato.description }}</p>
    </div>
  </div>

         <div class="card border-0 shadow-sm mt-4">
  <div class="card-body">
    <h5 class="fw-bold mb-3">Documentos Relacionados</h5>

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form_doc.as_p }}
  <button type="submit" name="upload_documento" class="btn btn-primary"> <i class="bi bi-clipboard-plus me-2"></i>Salvar arquivo</button>
</form>

<table class="table mt-4">
  <thead>
    <tr>
      <th>Nome do Documento</th>
      <th>Tipo</th>
      <th>Data</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for doc in documentos %}
      <tr>
        <td>{{ doc.nome }}</td>
        <td>{{ doc.tipo }}</td>
        <td>{{ doc.data_envio|date:"d/m/Y H:i" }}</td>
        <td>
          <a href="{{ doc.arquivo.url }}" download class="btn btn-outline-success btn-sm">
            <i class="bi bi-download"></i> Baixar
          </a>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="4">Nenhum documento enviado ainda.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

  </div>
</div>
      </div>
</div>
{% endblock %}

