{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<div class="container my-5 d-flex justify-content-center">
  <div class="card shadow p-4 w-100" style="max-width: 420px;">
    <div class="text-center mb-4">
      <img src="/static/logoabess.png" alt="Logo" class="img-fluid mb-2" style="height: 60px;">
      <h2 class="fw-bold text-dark">Entrar no sistema</h2>
    </div>

    {% if form.errors %}
      <div class="alert alert-danger">Usuário ou senha inválidos.</div>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        {{ form.username.label_tag }}
        {{ form.username|add_class:"form-control" }}
      </div>
      <div class="mb-3">
        {{ form.password.label_tag }}
        {{ form.password|add_class:"form-control" }}
      </div>
      <button type="submit" class="btn btn-primary w-100">
        Entrar
      </button>
    </form>
  </div>
</div>
{% endblock %}
