{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="container py-3">
  <h3 class="fw-bold mb-4">Configurar Lembretes</h3>
  <form method="post">
    {% csrf_token %}
    <div class="mb-4">
      <label for="id_notify_name" class="form-label">Nome do Lembrete</label>
      {% render_field form.notify_name class+="form-control" %}
    </div>
    <div class="mb-4">
      <label for="id_reminder_type" class="form-label">Tipo do Lembrete</label>
       {% render_field form.reminder_type class+="form-control"%}
    </div>
    <div class="mb-4">
      <label for="id_contract" class="form-label">Contrato (Opcional)</label>
        {% render_field form.contract class+="form-control"%}
    </div>

    <div class="row mb-4">
      <div class="col-md-6">
        <label for="id_reminder_date" class="form-label">Data de Início do Lembrete:</label>
        {% render_field form.reminder_date class+="form-control"%}
      </div>
      <div class="col-md-6">
        <label for="id_notify_days_before" class="form-label">Número de dias anteriores ao lembrete:</label>
        {% render_field form.notify_days_before class+="form-control"%}
      </div>
    </div>
    <div class="mb-4">
      <label for="id_frequency" class="form-label">Frequência do Lembrete</label>
      {% render_field form.frequency class+="form-control" placeholder="Diária, Mensal..." %}
    </div>
    <button type="submit" class="btn btn-primary rounded-pill px-4 justify-content-end">
      <i class="bi bi-floppy"></i>
      Salvar Lembrete
    </button>
  </form>
</div>
{% endblock %}
